<div>
   <button> ☰ Menu </button>
   <ul>
      <li><a href="/pokedex">Home</a></li>
      <li><a href="/pokedex/types">Types</a></li>
      <li><a href="/pokedex/regions">Regions</a></li>
      <li><a href="/pokedex/about">About</a></li>
   </ul>
</div>
