---
import { ClientRouter } from "astro:transitions";
import HeaderComponent from "./layout-component/HeaderComponent.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="/src/styles/global.css" rel="stylesheet" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
		<ClientRouter />
	</head>
	<body class="size-screen">
		<div class="flex flex-col h-screen">
			<header class="bg-gray-800 text-white p-4">
				<HeaderComponent />
			</header>
			<main class="flex-grow p-4">
				<slot />
			</main>
			<footer class="bg-gray-800 text-white p-4">
				<p>&copy; 2023 Pokédex</p>
			</footer>
	</body>
</html>
